title{
    color: white;
}
h1{
    color: white;
}
table{
    color: white;
}
p{
    color: white;
}
li{
    color: white;
}
h2{
    color: white;
}
b{
    color: white;
}
body{
    background-size: 115%;
}
